# Ignorar absolutamente todo por defecto
*

# Permitir navegar por los directorios (necesario para que Git entre a buscar los archivos)
!*/

# Excepciones: los únicos archivos que se subirán al repositorio
!tok.py
!lex.py
!parser.py
!main.py
!semantica.py
!.gitignore
